:root {
    --grid-rows: 4;
    --grid-cols: 4;
}

body {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0;
    margin-bottom: 50px;
}

#grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), max-content);
    grid-template-columns: repeat(var(--grid-cols), max-content);
    margin: 12px;
    border: 2px solid black;
}

.cell {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px dotted grey;
}

.north {
    border-top: 2px solid black;
}

.east {
    border-right: 2px solid black;
}

.south {
    border-bottom: 2px solid black;
}

.west {
    border-left: 2px solid black;
}

.start {
    background-color: lightskyblue;
}

.goal {
    background-color: green;
}

.visited {
    background-color: dimgray;
}

.route {
    background-color: royalblue;
}
